/* ///////////////////////////////// Start of button ///////////////////////////////// */
.btn {
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 12px 16px;
    background-color: #8ac3f2d0;
    color: brown;
    cursor: pointer;
    margin-bottom: 5px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

.btn:hover {
    background-color: rgb(244, 207, 207);
    color: black;
}

/* ///////////////////////////////// End of button ///////////////////////////////// */

/* ///////////////////////////////// Start of info icon ///////////////////////////////// */
#infoicon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    padding: 0px 3px 3px 3px;
    text-align: center;
    color: antiquewhite;
    font-size: 22px;
    font-family: sans-serif;
    font-weight: bold;
    border-radius: 50%;
    border: solid 3px antiquewhite;
    opacity: .6;
    cursor: pointer;
    transition: opacity .5s ease-in-out, color .5s ease-in-out;
}

#infoicon:hover {
    opacity: 1;
}

#infoicon.hidden {
    color: rgba(0, 0, 0, 0);
}

#infoicon.active~.infowin {
    visibility: visible;
}

/* ///////////////////////////////// End of info icon ///////////////////////////////// */

/* ///////////////////////////////// Start of menu ///////////////////////////////// */
.menuicon {
    height: 70px;
    width: 70px;
    background: #1A2838;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 10px;
    opacity: .6;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.menuicon:hover {
    opacity: 1;
}

.menuicon span {
    position: absolute;
    width: 50px;
    height: 5px;
    border-radius: 30px;
    background: linear-gradient(to bottom left, #1C82FF, #1CD7FF);
    transition: all .5s ease-in-out;
}

.menuicon span:nth-child(1) {
    transform: translateY(-15px);
}

.menuicon span:nth-child(2) {
    width: 40px;
}

.menuicon span:nth-child(3) {
    transform: translateY(15px);
    width: 27px;
}

.menuicon.active span:nth-child(2) {
    scale: 0;
}

.menuicon.active span:nth-child(1) {
    transform: rotate(-135deg);
}

.menuicon.active span:nth-child(3) {
    width: 50px;
    transform: translateY(0) rotate(315deg);
}

.menuicon.active~.menu-content {
    right: 10px;
}

.menu-content {
    position: absolute;
    bottom: 80px;
    right: -70px;
    transition: all 0.5s ease-in-out;
}

.menu-content img {
    display: block;
    margin-bottom: 10px;
    border-radius: 30%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    opacity: .7;
    transition: all .4s ease;
}

.menu-content img:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu-content img, .menuicon {
        width: 50px;
        height: 50px;
    }

    .menuicon span:nth-child(1) {
        transform: translateY(-15px);
        width: 40px;
    }

    .menuicon span:nth-child(2) {
        width: 30px;
    }

    .menuicon span:nth-child(3) {
        transform: translateY(15px);
        width: 17px;
    }

    .menuicon.active span:nth-child(3) {
        width: 40px;
    }

    .menu-content {
        bottom: 60px;
    }
}

/* ///////////////////////////////// End of menu ///////////////////////////////// */

/* ///////////////////////////////// Start of view ///////////////////////////////// */
.view {
    position: fixed;
    left: 50%;
    bottom: 10px;
    display: flex;
    color: white;
    background: #3b628fc2;
    transform: translateX(-50%);
    font-size: 28px;
    border-radius: 5rem;
}

#lview, #rview {
    opacity: .7;
    flex-grow: 1;
    padding: 10px;
    align-self: center;
    cursor: pointer;
    user-select: none;
}
.view span:nth-child(2) {
    flex-grow: 2;
    align-self: center;
}

#lview:hover, #rview:hover {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .view  {
        font-size: 20px;
    }
}

/* ///////////////////////////////// End of view ///////////////////////////////// */

/* ///////////////////////////////// Start of steering wheel ///////////////////////////////// */
#stewhe {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 100px;
    width: 100px;
    clip-path: circle(50% at 50% 50%);
}

#stewhe span:nth-child(n) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    opacity: .6;
    cursor: pointer;
}

#stewhe span:nth-child(n):hover {
    opacity: 1;
}

#stewhe span:nth-child(1) { clip-path: polygon(0% 0%, 0% 100%, 50% 50%); }     /*左*/
#stewhe span:nth-child(2) { clip-path: polygon(0% 0%, 100% 0%, 50% 50%); }     /*上*/
#stewhe span:nth-child(3) { clip-path: polygon(100% 0%, 100% 100%, 50% 50%); } /*右*/
#stewhe span:nth-child(4) { clip-path: polygon(100% 100%, 0% 100%, 50% 50%); } /*下*/

/* ///////////////////////////////// End of steering wheel ///////////////////////////////// */

