.infowin {
    position: fixed;
    left: 10%;
    right: 10%;
    top: 8%;
    bottom: 8%;
    backdrop-filter: blur(7px);
    z-index: 2;
    border-radius: 25px;
    transition: all 0.3s ease-in-out;
    border: 1px solid #ccc;
}

.infowin:hover {
    margin-top: -5px;
    margin-left: -5px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.infowin:hover .btn {
    font-size: 18px;
    padding: 12px 20px;
}

.desc {
    padding: 10px;
    padding-left: 20px;
    text-align: left;
    color: papayawhip;
}

/* 2 col */
.row {
    /* for scroll inside */
    position: relative;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: none;
}

.column {
    float: left;
    width: 47%;
    padding: 10px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* hide scrollbar */
.row::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 1010px) {
    .column {
        width: 46%;
    }
}

@media only screen and (max-width: 842px) {
    .column {
        width: 100%;
        padding: 0;
    }

    .infowin {
        padding: 10px;
    }
}

